body {
    background-color:rgb(210, 234, 248)
}
 
h1 {
    text-align: center;
}
 
h2 {
    text-align: center;
}
 
h3 {
    text-align: center;
}

#banner {
    width:100%
}

p {
    text-align: center;
}
 
